<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Bangkok</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>📍 Bangkok</h1>
    <img src="{{ url_for('static', filename='images/Bangkok_img.jpg') }}" alt="Bangkok" width="400">
    <p>Bangkok ist die pulsierende Metropole und die Hauptstadt Thailands, eine Stadt voller Gegensätze und Energie. Hier treffen jahrhundertealte Traditionen auf modernen Großstadttrubel. Überall findest du prächtige Tempel wie den Wat Phra Kaew mit dem berühmten Smaragd-Buddha und den majestätischen Königspalast, der als eines der Wahrzeichen der Stadt gilt. Auch der Wat Arun am Ufer des Chao Phraya-Flusses ist ein absolutes Muss, besonders wenn er bei Sonnenuntergang in warmes Licht getaucht ist.</p>

<p>Tagsüber locken die bunten Märkte Bangkoks, wie der Chatuchak-Markt, mit tausenden Ständen, wo man alles von Kleidung über Kunsthandwerk bis zu leckerem Streetfood kaufen kann. Die Straßen sind oft lebendig und voll von Tuk-Tuks, Straßenverkäufern und Einheimischen, die ihrem Alltag nachgehen. Wer die Stadt aus einer anderen Perspektive erleben will, kann eine Bootstour auf den Kanälen (Khlongs) machen, um versteckte Ecken zu entdecken.</p>

<p>Am Abend erwacht Bangkok zu neuem Leben: Die Rooftop-Bars bieten spektakuläre Ausblicke auf die Skyline und laden zum Entspannen ein. In Vierteln wie Sukhumvit, Silom oder Khao San Road findest du unzählige Bars, Clubs und Restaurants mit internationaler und thailändischer Küche. Das Nachtleben ist vielfältig – von chilligen Cocktailbars bis zu ausgelassenen Tanzclubs. Auch die Nachtmärkte bieten neben Shopping ein buntes kulinarisches Erlebnis.</p>

<p>Bangkok ist eine Stadt, die man gesehen haben muss: eine faszinierende Mischung aus Kultur, Geschichte, kulinarischen Highlights und urbaner Lebensfreude, die jeden Besucher in ihren Bann zieht und Lust auf mehr macht.</p>

    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xOqQhIn57SM?si=E5ycBxuhl5QvRJt9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    
    
    
    <a href="{{ url_for('index') }}">⬅ Zurück zur Startseite</a>
</body>
</html>