<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hua Hin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>📍 Hua Hin</h1>
    <img src="{{ url_for('static', filename='images/HuaHin_img.jpg') }}" alt="Hua Hin" width="400">
    <p>Hua Hin ist ein charmantes Küstenstädtchen, das mit seiner entspannten Atmosphäre Besucher aus aller Welt anzieht. Es ist ein perfektes Ziel für alle, die Erholung mit ein bisschen Kultur verbinden möchten. Die Strände sind weitläufig und sauber, ideal zum Sonnenbaden, Schwimmen oder für Wassersportarten wie Kajakfahren und Windsurfen.</p>

<p>Die Stadt ist auch bekannt für ihren königlichen Sommerpalast Klai Kangwon, der umgeben von gepflegten Gärten und einer ruhigen Lage direkt am Meer ein besonderer Ort zum Verweilen ist. Hua Hin besitzt zudem einen der ältesten und beliebtesten Nachtmärkte Thailands, auf dem du tagsüber und abends frische Meeresfrüchte, lokale Spezialitäten und handgemachte Souvenirs findest.</p>

<p>Neben den Stränden und Märkten bietet Hua Hin auch tolle Möglichkeiten zum Golfspielen auf international renommierten Plätzen. Für Naturliebhaber ist der nahegelegene Nationalpark Sam Roi Yot mit seinen beeindruckenden Kalksteinbergen und Höhlen ein Highlight.</p>

<p>Das Nachtleben in Hua Hin ist zwar ruhiger als in größeren Städten, aber trotzdem lebendig. Es gibt nette Bars und Restaurants, in denen man den Tag entspannt ausklingen lassen kann – oft mit Blick auf den Sonnenuntergang über dem Meer. Insgesamt ist Hua Hin eine gelungene Kombination aus Erholung, Natur und thailändischer Lebensart.</p>

   
    <iframe width="560" height="315" src="https://www.youtube.com/embed/v0ySM5Xcqzc?si=9lzvzel9Y8fSJ4ZC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   
   
   
    <a href="{{ url_for('index') }}">⬅ Zurück zur Startseite</a>
</body>
</html>